 /* Reset CSS */
 body,
 h1,
 p,
 ul,
 li {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin: 0;
     padding: 0;
 }

 body {
     font-family: Arial, sans-serif;
     color: #ca0707;
 }

 .container-formulario {
     text-align: center;
     align-content: center;
     padding: 100px;
     background-color: #f5dca9;
 }

 .contenedor-principal{
    padding: 1px;
}

 .container-bienvenida, h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    align-content: center;
    padding: 60px;
}

 .container-testimonios {
    padding: 10px;
    background-color: #ffff; 
    margin: 40px;
}

 .col {
     margin-top: center;

 }

 .btn {
     background-color: #ff8800;
     color: #fff;
     border: #ff8000;
 }

 /* Header */
 header {
     background-color: #ff8800;
     color: #fff;
     padding: 20px 0;
     text-align: center;
 }

 header h1 {
     margin: 0;
     font-size: 2em;
 }

 .img-fluid-logo {
    position: absolute; /* Posiciona la imagen de manera absoluta */
    top: 100; /* Alinea la imagen en la parte superior */
    left: 100; /* Alinea la imagen en la parte izquierda */
    z-index: 1; 
}  

 .img-fluid-caro {
    transform: scale(.6);
    margin-left: -40px;
    top: 0px; /* Alinea la imagen en la parte superior */
    left: 20px; /* Alinea la imagen en la parte izquierda */
    right: 30px; 
    z-index: 2; 
}  


 h2 {
    text-align: center;
     font-size: 3em;
     margin-bottom: 20px;
 }

 p-1, p-2, p-3 {
     text-align: center;
     font-size: 28px;
     color: #070707;
     margin-right: 10px;

 }

 p {
    text-align: center;
    font-size: 1.1em;
    color: #070707;
    margin-bottom: 20px;
}

 .cta-button {
     display: inline-block;
     background-color: #ff8800;
     color: #fff;
     padding: 10px 20px;
     text-decoration: none;
     border-radius: 5px;
     transition: background-color 0.3s;
 }

 /* Form */
 form label {
     display: block;
     margin-bottom: 5px;
     font-weight: bold;
 }

 form input[type="text"] {
     width: 80%;
     padding: 7px;
     margin-bottom: 10px;
     border-radius: 5px;
     border: 1px solid #ccc;
 }

 form input[type="email"] {
    width: 90%;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

 .image__container {
     text-align: right;
     margin-top: 20px;
     width: 30%;
     height: 30%;
 }

 form input[type="submit"] {
     background-color: #ff8000;
     color: #fff;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }

 form input[type="submit"]:hover {
     background-color: #ff8000;
 }

 /* formato de Footer */
 footer {
     background-color: #ff8800;
     color: #fff;
     padding: 5px 0;
     text-align: center;
 }



 /*------------------------------------------------------------------------------*/
 .references {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 .inicial {
     text-align: center;
     margin-bottom: 30px;
     padding: 10px;
     border: 1px solid #f51919;
     border-radius: 5px;
     box-sizing: border-box;
 }

 /*formato de testimonios*/
 .reference {
    text-align: center;
     width: calc(30% - 20px);
     margin-bottom: 15px;
     padding: 10px;
     border: 1px solid #e61c1c;
     border-radius: 5px;
     box-sizing: border-box;
     justify-content: center;
 }


 .reference img {
    align-items: center;
     width: 70%;
     height: auto;
     border-radius: 50%;
     margin-bottom: 10px;
 }

 .reference h3 {
     font-size: 1.2em;
     margin-bottom: 5px;
 }

 .reference p {
     font-size: 1em;
     color: #f80;
 }

 @media screen and (max-width: 768px) {
     .reference {
         width: calc(50% - 20px);
     }
 }

 @media screen and (max-width: 480px) {
     .reference {
         width: 100%;
     }
 }